name: Vulkan CMake CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
          - os: ubuntu-latest
            c_compiler: clang
            cpp_compiler: clang++
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Vulkan SDK
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt install -y libvulkan-dev vulkan-utils
        shell: bash

      - name: Set up Vulkan SDK on Windows
        if: matrix.os == 'windows-latest'
        run: |
          choco install vulkan-sdk --version=1.3.261.1 -y
        shell: pwsh

      - name: Set build directory
        id: build-dir
        run: echo "BUILD_DIR=${{ github.workspace }}/build/ci" >> "$GITHUB_ENV"

      - name: Configure CMake
        run: |
          cmake -B $BUILD_DIR \
            -DCMAKE_C_COMPILER=${{ matrix.c_compiler }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }} \
            -DCMAKE_BUILD_TYPE=Release \
            -S ${{ github.workspace }}

      - name: Build
        run: cmake --build $BUILD_DIR --config Release

      - name: Test
        working-directory: $BUILD_DIR
        run: ctest --build-config Release --output-on-failure
